*{
     margin: 0;
}
.App{
     /* usedcolorZilla to find the insta background color */
     background-color:#fafafa;
     height: 100vh;
     
      
}
.App-Header{
     /* Basically to look like the header perfect not broken */
     position: sticky;
     top: 0;
     background-color: white;
     padding: 15px;
     z-index: 1; 
     
     border-bottom: 1px solid lightgray; 
     object-fit: contain;
     display: flex;
     flex-direction: row;
     justify-content: space-between;

      

}

.App_headerimage{
     object-fit: contain;
}

.app__posts{
     
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
    
     
}



.app_signup{
     display:flex;
     flex-direction: column;
     /* align-items: center; */
    
}